body{
    width:100%;
    margin:0px;
}
h2{
    margin:0px;
}
article{
    width:100px;
    height:100px;
    border: solid 4px black;
}
.top-page{
    background-color:rgb(135, 135, 184);
    padding-top:5%;
    padding-bottom:5%;
    text-align: center;
}
.accueil{
    color:black;
    text-decoration: none;
font-size:30px;
margin-right:5%;
}
.panier{
    color:black;
    text-decoration: none;
    margin-left:5%;
    font-size:30px;
}

.main{
    justify-content: center;
    width:100%;
    display:grid;
    grid-template-columns: 45% 45%;
}
.tete{
    text-align: center;
    padding:2%;
}
.click{
    color:black;
    background-color: burlywood;
    text-decoration: none;
}
img{
    width:100%;
}
.text{
    background-color: burlywood;
}